<template>
  <div class="home">
    <LectorImage />
  </div>
</template>

<script>
// @ is an alias to /src
import LectorImage from '@/components/LectorImage.vue'

export default {
  name: 'About',
  components: {
    LectorImage
  }
}
</script>