<template>
  <div>
    <v-app-bar
      class="elevation-1"
      dense
      color="rgba(0, 0, 0, 0)"
    >
    <v-spacer></v-spacer>
      <v-toolbar-title>Preactivacion</v-toolbar-title>
    <v-spacer></v-spacer>
    </v-app-bar>
    <v-container>
      <v-row fluid>
        <v-col justify="center" align="center">
          <br><br>
            <v-btn class="mx-2 elevation-3" fab large outlined to="/lector">
              <v-icon dark>mdi-barcode-scan</v-icon>
            </v-btn>
            <br>
            <br>
            <p>Preactivar Chips <br>
          (Lectura de código de Barras)</p>
          <br><br>
            <ListaNumeros />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ListaNumeros from '@/components/ListaNumeros.vue'

export default {
  name: 'Home',
  components: {
    ListaNumeros
  }
}
</script>
