<template>
    <div>
        <v-btn
            class="mx-2 elevation-0"
            style="width:100%;"
            to="/"
            >
          <v-icon dark>mdi-keyboard-backspace</v-icon>
        </v-btn>
        <StreamBarcodeReader
            style="height:100%;"
            @decode="onDecode"
            @loaded="onLoaded"
        />
    </div>
</template>
<script>
import { StreamBarcodeReader } from "vue-barcode-reader"
import { mapMutations } from "vuex"
export default {
  components: {
    StreamBarcodeReader
  },
  methods: {
  onDecode (result) {
    window.history.back()
    this.agregarActivacion(result)
  },
  onLoaded (dat) {
    console.log(dat)
  },
  ...mapMutations(['agregarActivacion']),
}
}
</script>