<template>
  <div>
    <ImageBarcodeReader
      @decode="onDecode"
      @error="onError"
    >
    </ImageBarcodeReader>
    <p>Codigo:</p>
    <h1>{{ resultado }}</h1>
    <label>
      Nro:
    <input type="text" v-model="numero">
    </label>
    <br>
    <a type="button" :href="`sms:+${numero}?body=${resultado}`">¡Enviar codigo!</a>
  </div>
</template>

<script>
import { StreamBarcodeReader } from "vue-barcode-reader"
import { ImageBarcodeReader } from "vue-barcode-reader"
export default {
  data(){
    return{
      resultado: '-',
      numero: 1234
    }
  },
  components: {
    ImageBarcodeReader
  },
  methods: {
  onDecode (result) {
    this.resultado = result
    console.log(result)
  },
  onError (err) {
    console.log(err)
  },
}
}
</script>
