<template>
  <div>
      <StreamBarcodeReader
        style="backgroud:blue"
        @decode="onDecode"
        @loaded="onLoaded"
      ></StreamBarcodeReader>
    <p>Codigo:</p>
    <h1>{{ resultado }}</h1>
    <label>
      Nro:
    <input type="text" v-model="numero">
    </label>
    <br>
    <a type="button" :href="`sms:+${numero}?body=${resultado}`">¡Enviar codigo!</a>
  </div>
</template>

<script>
import { StreamBarcodeReader } from "vue-barcode-reader"
export default {
  data(){
    return{
      resultado: '',
      numero: 1234
    }
  },
  components: {
    StreamBarcodeReader
  },
  methods: {
  onDecode (result) {
    this.resultado = result
    console.log(result)
  },
  onLoaded (dat) {
    console.log(dat)
  },
}
}
</script>
