<template>
    <div>
        <v-tabs
        v-model="tab"
        centered
        grow
        >
            <v-tab>
                Leídos
            </v-tab>
            <v-tab>
                Enviados
            </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab"
            id="tabulador"
            :style="{'height': alto+'px'}"
            style="overflow : auto;"    
        >
            <v-tab-item>
                <v-list>
                    <template v-for="(activacion,index) in noActivados">
                        <v-list-item
                            @click="eliminarActivacion(activacion)"
                            :key="activacion.id"
                            :class="index===0?'elevation-1':'elevation-0'"
                            :style="{'background': index===0?'rgb(230,230,230)':''}"
                        >
                            {{ index+1 }} .
                            <v-list-item-content>
                            <v-list-item-title v-text="activacion.numero"></v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-icon>
                            <v-icon>
                                mdi-delete
                            </v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                    </template>
                </v-list>
            </v-tab-item>
            <v-tab-item>
                <v-list>
                    <template v-for="(activacion,index) in siActivados">
                        <v-list-item
                            @click="eliminarActivacion(activacion)"
                            :key="activacion.id"
                        >
                            {{ index+1 }} .
                            <v-list-item-content>
                            <v-list-item-title v-text="activacion.numero"></v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-icon>
                            <v-icon>
                                mdi-delete
                            </v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                    </template>
                </v-list>
            </v-tab-item>
        </v-tabs-items>
        <v-btn
        outlined
        id="botonMagico"
        width="100%"
        :disabled="tab!=0 || noActivados.length===0"
        @click="activar(noActivados[0])"
        >Activar (1°)</v-btn>
    </div>
</template>
<script>
import { mapState, mapMutations } from 'vuex'
export default {
    mounted(){
        const alturaTab = document.querySelector('#tabulador').offsetTop
        const alturaBoton = document.querySelector('#botonMagico').offsetHeight
        this.alto = (screen.height - alturaTab - alturaBoton*3)
    },
    data () {
      return {
        tab: null,
        alto: 100
      }
    },
    computed:{
        ...mapState(['activaciones']),
        noActivados(){
            return this.activaciones.filter(e=>!e.activado)
        },
        siActivados(){
            return this.activaciones.filter(e=>e.activado)
        },
    },
    methods:{
        ...mapMutations(['eliminarActivacion','activar'])
    }
}
</script>