<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script>
import LectorCodeBar from './components/LectorCodeBar';

export default {
  name: 'App',

  components: {
    LectorCodeBar,
  },

  data: () => ({
    //
  }),
};
</script>
